<mat-toolbar class="toolbar" color="primary">
    <div class="toolbar-icon-menu">
        <button (click)="inputSideNav?.toggle()" mat-icon-button class="example-icon"
            aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div class="toolbar-logo">
        <img height="40" src="assets/images/logo-bookShop.png" alt="">
        <p>LIBRERIA EL VIRREY</p>
    </div>
    <div class="toolbar-button-profile">
        <button mat-button>
            Mi perfil
        </button>
    </div>
</mat-toolbar>