<app-content titleComponent="Control de libros">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxFlex="30">
      <app-card-content titleCard="Agregar Categoria">
        <form class="form" action="">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Ingrese el nombre de la categoria</mat-label>
            <input formControlName="email" matInput placeholder="Placeholder" />
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
          <div class="form-buttons">
            <button mat-raised-button color="warn">Actualizar</button>
            <button mat-raised-button type="submit" color="primary">
              Registrar
            </button>
          </div>
        </form>
      </app-card-content>
    </div>
    <div fxFlex="60">
      <app-card-content titleCard="Categorias Agregadas">
        <table class="full-width" mat-table [dataSource]="categories">
          <ng-container matColumnDef="numero">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>
          <ng-container matColumnDef="orden">
            <th mat-header-cell *matHeaderCellDef>Orden</th>
            <td mat-cell *matCellDef="let element">{{ element.order }}</td>
          </ng-container>
          <tr
            mat-header-row
            *matHeaderRowDef="['numero', 'name', 'orden']"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: ['numero', 'name', 'orden']"
          ></tr>
        </table>
      </app-card-content>
    </div>
  </div>
</app-content>
